:root {
  --primary-color: #2229a9;
  --secondary-color: #e5e5f7;
}
body {
  font-family: Kode Mono, monospace;
  background-color: #000;
}

h1 {
  color: var(--secondary-color);
  text-align: center;
}
footer {
  color: rgb(255, 255, 255);
  border: 2px solid #000;
  text-align: center;
}
.main {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -24vw -44vh 2px 2px #fff, 38vw -4vh 0px 0px #fff,
    -20vw -48vh 1px 2px #fff, -39vw 38vh 3px 1px #fff, -42vw -11vh 0px 3px #fff,
    12vw 15vh 3px 3px #fff, 42vw 6vh 3px 2px #fff, -8vw 9vh 0px 2px #fff,
    34vw -38vh 1px 0px #fff, -17vw 45vh 3px 1px #fff, 22vw -36vh 3px 2px #fff,
    -42vw 1vh 1px 0px #fff;
  animation: zoom 10s alternate infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
.info {
  background-color: var(--secondary-color);
  border-radius: 1rem;
  padding: 1rem;
}
.card {
  width: 18rem;
  border-radius: 5%;
  padding: 0.5rem;
}
.card-img-top {
  border-radius: 5%;
}
.btn-card {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.everything {
  margin: 40px 0;
}
.navbar {
  background-color: var(--secondary-color);
}
.navbar a {
  color: var(--primary-color);
}
.land-button {
  display: flex;
  justify-content: center;
  text-align: center;
}
#land {
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 1rem;
}
#land:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.astronaut {
  transition: ease-in-out 0.3s;
  position: relative;
  animation: move 10s alternate infinite;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300%);
  }
}

.adventure {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  padding: 1rem;
}
.text {
  color: var(--primary-color);
  text-align: center;
}
.restart {
  display: none;
  margin: 0 auto;
  box-shadow: 0 0 1rem #fff;
}
.option-1,
.option-2,
.option-3 {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  box-shadow: 0 0 1rem #fff;
  min-height: 3.3rem;
}
.option-1:hover,
.option-2:hover,
.option-3:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.facts {
  display: flex;
  align-items: center;
}
.fun-fact {
  color: var(--secondary-color);
}
.fun-facts-title {
  margin-top: 5%;
  margin-bottom: 5%;
}
.jupiter {
  justify-content: start;
}

.venus {
  justify-content: end;
}
.venus-responsive {
  display: none;
}
.contact {
  color: var(--secondary-color);
}
#contact-me {
  text-decoration: dotted;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
@media (min-width: 1280px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
  .container {
    max-width: none !important;
  }
}
@media (max-width: 300px) {
  .card {
    width: 12rem;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .venus-responsive {
    display: flex;
  }
  .venus {
    display: none;
  }
  .for-big-screens {
    display: none;
  }
}
@media (min-width: 575px), (max-width: 767px) {
  .venus-row {
    display: flex;
    justify-content: end;
  }
}
